/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Properties */
:root{
    --black: #000000;
    --darkgrey: #222222;
    --lightgrey: #4a4a4a;
    --white: #ffffff;
    --red: #d72a2c;
    --green: #4bc800;
}