/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Properties */
:root{
    --black: #000000;
    --darkgrey: #222222;
    --lightgrey: #4a4a4a;
    --white: #ffffff;
    --red: #d72a2c;
    --green: #4bc800;
}

/* Regole per contenitori principali */
.main-container{
    display: flex;
    flex-direction: column;
}

.header-container{
    flex-shrink: 2;
    background-color: var(--black);
    height: 60px;
}

.card-container{
    flex-grow: 1;
    background-color: var(--black);
    height: calc(100vh - 160px);
    padding: 10vh;
    display: flex;
    flex-wrap: wrap;
    /* Da togliere */
    border: 3px solid white;
    color: white;
}

.footer-container{
    flex-shrink: 2;
    height: 100px;
    background-color: var(--darkgrey);
}

/* Regole per tutti i bottoni */
button{
    background-color: transparent;
    border: none;
    color: var(--white);
}

/* Header */
.header-container .button-container{
    float: right;
    margin: 0.5rem 0.5rem 0 0;
}

.header-container .button-container button{
    background-color: var(--lightgrey);
    border-radius: 5px;
    padding: 0.3rem;
}

/* Sezione centrale */
.card{
    background-color: antiquewhite;
    width: calc(100% / 7 - 0.5rem);
    margin-left: .5rem;
    margin-bottom: .5rem;
    /* Altezza forzata da togliere */
    height: 100px;
}

/* Footer */